.message_sidebar
  = render 'teams/team_sidebar', team: @team
  = render 'channels/channel_sidebar', channel: @channel
  .message_sidebar__direct_container
    .message_sidebar__direct_container__directs
      = link_to "DIRECT_MESSAGES", "/", class: "message_links"
    .message_new
      = link_to "new", new_team_channel_path(@team.id),class: "message_links"
.message_main
  Please serect or create Chsnnels or Direct messages.




