.message_sidebar
  .message_sidebar__user_team_info
    .message_sidebar__user_team_info__team_info
      team_name
    .message_sidebar__user_team_info__user_info
      = link_to current_master.email, "/", class: "message_links"
  .message_sidebar__channel_container
    .message_sidebar__channel_container__channels
      = link_to "CHANNELS", "/", class: "message_links"
    .message_puls_icon
  .message_sidebar__direct_container
    .message_sidebar__direct_container__directs
      = link_to "DIRECT_MESSAGES", "/", class: "message_links"
    .message_puls_icon

.message_main
  .message_main__header
    .message_main__header__title
      ＃Channel-name
    .message_main__header__members
      .message_main__header__members__member_list
        member-list
      .message_main__header__members__member_edit
        EDIT

  .message_main__body
  
  .message_main__footer
    %textarea{placeholder: "memo", class: "message_main__footer__input_message"}



