.create-direct-form
  %h1 Create a Direct_Message room
  = form_for @direct, url: team_directs_path do |f|
    .create-direct-form__field.clearfix
      .create-direct-form__field--left
    .create-direct-form__field.clearfix
      .create-direct-form__field--left
        = f.label :user_ids, 'Invite user', class: 'create-direct-form__label'
      .create-direct-form__field--right
        .create-direct-form__search.clearfix
          .user-search-field.create-direct-form__input
            .create-direct-form__search.clearfix
              %input#create-direct_user.create-direct-form__input{ type: "text", placeholder: 'Search by name' }
            #user-search-result
    .create-direct-form__field.clearfix
      .create-direct-form__field--left
        = f.label 'member', class: 'create-direct-form__label'
      .create-direct-form__field--right
        #create-direct-users
          #create-direct-user-22.create-direct-user.clearfix
    .create-direct-form__field.clearfix
      .create-direct-form__field--left
      .create-direct-form__field--right
        = f.submit 'Create', class: 'create-direct-form__action-btn'
