.team_header
  .team_header__logo
  
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .sign_in__main
    .sign_in__main__form
      %h1 sign in to your master account
      .sign_in__main__form__input
        %h2 Enter your account email & password
        = f.email_field :email, autofocus: true, placeholder: "email", class: "sign_in__main__form__input__users"
        = f.password_field :password, placeholder: "password", class: "sign_in__main__form__input__users"
        = f.submit "Log in", class: "sign_in__main__form__input__submit"
