// master関連ページ
@import "./master_new";
@import "./master_index";
@import "./sign_in";

// team関連ページ
@import "./team_new";

// user関連ページ
@import "./user_new";

// message関連ページ
@import "./message_index";

// channel関連ページ
@import "./channel_new";

// sidebar関連
@import "./channel_sidebar";

// html bodyの設定
@import "./defalt";
@import "./reset.scss";

// JS動作用のCSS
@import "./switch";
