.create-channel {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;

  .create-channel__link {
    display: block;
    padding: 20px 20px;
    color: #fff;

    &:hover {
      background-color: #384a62;
    }
  }

  .create-channel__name {
    display: inline-block;
    font-size: 15px;
    margin-bottom: 5px;
  }

  .create-channel__message {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
  }
}


.create-channel-form {
  width: 980px;
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;

  h1 {
    letter-spacing: 2px;
    font-size: 24px;
    text-align: center;
  }

  .create-channel-form__errors {
    margin: 30px 0;
    padding: 20px 40px;
    border: 1px solid #ddd;
    border-radius: 2px;
    text-align: center;

    h2 {
      margin-bottom: 10px;
      color: #f05050;
      font-size: 14px;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: 13px;
    }
  }

  .create-channel-form__field {
    margin-top: 30px;

    .create-channel-form__field--left {
      float: left;
      width: 30%;
      padding-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
    }

    .create-channel-form__field--right {
      float: right;
      width: 70%;
    }

    .create-channel-form__label {
      display: block;
      line-height: 50px;
      font-weight: bold;
      text-align: right;
    }

    .create-channel-form__input {
      float: left;
      width: 100%;
      line-height: 30px;
      padding: 10px 0px;
      box-sizing: border-box;
    }
  }

  .create-channel-user {
    padding: 0 15px;
    line-height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #ddd;

    .create-channel-user__name {
      float: left;
    }

    .create-channel-user__btn {
      float: right;
      display: inline-block;
      cursor: pointer;

      &.create-channel-user__btn--add {
        color: #38aef0;
      }

      &.create-channel-user__btn--remove {
        color: #f05050;
      }
    }
  }

  .create-channel-form__action-btn {
    display: inline-block;
    padding: 12px 20px;
    color: #fff;
    background-color: #2ab27b;
    border: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    border-radius: .25rem;
  }
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
