.message_sidebar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 220px;
    -moz-flex-basis: 220px;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-width: 1px;
    max-width: 260px;
    background: #4D394B;
    z-index: 201;
    cursor: default;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    float: left;
    &__user_team_info {
      font-family: Slack-Lato,appleLogo,sans-serif;
      font-size: 1rem;
      font-weight: 900;
      padding: 0 1rem;
      color: #fff;
      height: 61px;
      border-bottom: 1px solid #4D394B;
      position: relative;
      z-index: 50;
      opacity: 1;
      -webkit-transition: opacity .2s ease 0s;
       -moz-transition: opacity .2s ease 0s;
      transition: opacity .2s ease 0s;
      &__team_info {
        margin-bottom: -2px;
        margin-top: .5625rem!important;
        line-height: 1.075rem;
      }
      &__user_info {
        position: relative;
        margin-top: 10px;
        color: #AB9BA9;
        font-size: .875rem;
        font-weight: 400;
        line-height: 1.5;
        z-index: 1;
      }
    }
    &__channel_container {
      margin-top: .5rem;
      margin: 1rem 0 2rem;
      width: inherit;
      position: relative;
      &__channels {
        text-align: left;
        font-size: .8rem;
        line-height: 1.25rem;
        margin: 0 1rem .1rem;
        text-transform: uppercase;
        font-weight: 700;
        width: 165px;
        position: relative;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__icon {
        // fontawsomeで探す
      }
    }
    &__direct_container {
      margin-top: .5rem;
      margin: 1rem 0 2rem;
      width: inherit;
      position: relative;
      &__directs {
        text-align: left;
        font-size: .8rem;
        line-height: 1.25rem;
        margin: 0 1rem .1rem;
        text-transform: uppercase;
        font-weight: 700;
        width: 165px;
        position: relative;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &__icon {
        // fontawsomeで探す
      }
    }
}

.message_main{
  float: left;
  height: 100%;
  width: calc(100% - 260px);
  &__header {
    height: 10%;
    border-bottom: 1px solid #E8E8E8;
    padding-top: 25px;
    &__title {
      float: left;
      margin-top: -2px;
      font-size: 2rem;
      font-weight: 900;
      padding: 0 .1rem 0 1.3rem;
    }
    &__members {
      float: right;
      &__member_list {
        float: left;
        font-size: 1.5rem;
        padding: 10px 40px 0px 0px;
        font-weight: 900;
      }
      &__member_edit {
        float: right;
        font-size: 1.5rem;
        font-weight: 900;
        padding: 10px 40px 0px 0px;
      }
    }
  }
  &__body {
    float: left;
    // 25 + 1 + 2の分
    height: calc(80% - 28px);
    width: 100%;
  }
  &__footer {
    height: 10%;
    width: 100%;
    float: left;
    &__input_message {
      width: 80%;
      height: 90%;
      margin-left: 30px;
      border-color: #bbbdbf;
      outline: 0;
      box-shadow: none;
      border: 2px solid #E0E0E0;
      border-radius: .375rem;
      font-size: .9375rem;
      line-height: 1.2rem;
    }
  }
}



// font関連
.message_links {
  color: #AB9BA9;
  text-decoration: none;
}

.message_links:hover {
  cursor: pointer;
  color: white;
}
