.team {
  &__purpose {
    &__header {
      display: inline-block;
      &__logo {
        margin: 1rem;
        width: 120px;
        height: 37px;
        background: url(https://a.slack-edge.com/66f9/img/slack_logo_240.png) no-repeat;
        background-size: contain;
      }
    }
    &__form {
      width: 30rem;
      min-height: 90%;
      margin: auto;
      &__body {
        margin-bottom: 2.5rem;
        padding: 0 1rem;
        margin-bottom: 1rem;
        align-self: center;
        max-width: 100%;
        & h1 {
          font-size: 2rem;
          line-height: 3rem;
          font-weight: 300;
          margin-bottom: 2rem;
          letter-spacing: -1px;
        }
      &__use {
        margin-bottom: 0;
        & p {
          font-weight: 700;
          margin: 0 0 .25rem;
          display: block;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        &__select {
            font-size: 1.25rem;
            line-height: normal;
            padding: .75rem;
            border: 1px solid #C5C5C5;
            border-radius: .25rem;
            -webkit-appearance: none;
            appearance: none;
            outline: 0;
            color: #555459;
            width: 100%;
            max-width: 100%;
            margin: 0 0 .5rem;
            font-variant-ligatures: none;
            -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
            transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
            -webkit-font-smoothing: antialiased;
            box-shadow: none;
            height: auto;
        }
      }
      &__placeholder {
        margin-top: 2rem;
        box-sizing: border-box;
        &__title {
          height: .75rem;
          background: rgba(0,0,0,.06);
          border-radius: 3rem;
          width: 55%;
        }
        &__body {
          height: 3rem;
          background: rgba(0,0,0,.06);
          margin-top: .75rem;
          border-radius: .15rem;
        }
      }

      }

      &__btn {
        padding: .5rem 12%;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
        & input {
          font-size: 1.25rem;
          padding: 15px 32px 18px;
          background: #2ab27b;
          color: #fff;
          line-height: 1.2rem;
          font-weight: 900;
          user-select: none;
          text-decoration: none;
          cursor: pointer;
          text-shadow: 0 1px 1px rgba(0,0,0,.1);
          border: none;
          border-radius: .25rem;
          box-shadow: none;
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          text-align: center;
          white-space: nowrap;
          margin: 0;
        }
      }

    }
  }
}
