.team {
  &__name {
    &__form {
      width: 30rem;
      min-height: 90%;
      margin: auto;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      &__body {
        padding: 0 1rem;
        margin-bottom: 1rem;
        & h1 {
          font-size: 2.625rem;
          line-height: 3rem;
          font-weight: 300;
          margin-bottom: 2rem;
          letter-spacing: -1px;
        }
        & label {
          margin-bottom: .5rem;
          font-weight: 700;
          margin: 0 0 .25rem;
          display: block;
          font-size: 1rem;
          line-height: 1.5rem;
        }
        & input {
          font-size: 1.25rem;
          line-height: normal;
          padding: .75rem;
          border: 1px solid #C5C5C5;
          border-radius: .25rem;
          -webkit-appearance: none;
          appearance: none;
          outline: 0;
          color: #555459;
          width: 100%;
          max-width: 100%;
          margin: 0 0 .5rem;
          font-variant-ligatures: none;
          -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
          transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
          -webkit-font-smoothing: antialiased;
          box-shadow: none;
          height: auto;
        }
        & input:hover {
          border-color: blue;
        }
        & p {
          color: #9e9ea6;
        }
      }
      &__button_container {
        min-width: 100%;
        margin-bottom: 1rem;
        padding: .5rem 1rem;
        margin: 0 auto;
        text-align: center;
        align-self: flex-end;
        max-width: 100%;
        &__btn {
          box-sizing: border-box;
          text-align: center;
          & input {
            padding: 12px 32px 18px;
            font-size: 1.25rem;
            background: #2ab27b;
            color: #fff;
            -webkit-font-smoothing: antialiased;
            font-family: Slack-Lato,appleLogo,sans-serif;
            line-height: 1.2rem;
            font-weight: 900;
            -webkit-user-select: none;
            user-select: none;
            text-decoration: none;
            cursor: pointer;
            text-shadow: 0 1px 1px rgba(0,0,0,.1);
            border: none;
            border-radius: .25rem;
            box-shadow: none;
            position: relative;
            display: inline-block;
            vertical-align: bottom;
            text-align: center;
            white-space: nowrap;
            margin: 0;
            box-sizing: border-box;
            text-decoration: none;
          }
        }
      }
    }
  }
}
