.password {
  width: 30rem;
  min-height: 90%;
  margin: auto;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  font-size: 1rem;
  position: relative;
  &__body {
    padding: 0 1rem;
    margin-bottom: 1rem;
    position: relative;
    align-self: center;
    max-width: 100%;
    font-size: 1rem;
    & h1 {
      font-size: 2.625rem;
      line-height: 3rem;
      font-weight: 300;
      margin-bottom: 2rem;
      letter-spacing: -1px;
      font-family: sans-serif;
      margin: 0 0 1rem;
    }
    & p {
      color: #9e9ea6 !important;
      margin: 0 0 1rem;
      font-size: 1rem;
    }
    & label {
      margin-bottom: .5rem;
      font-weight: 400 !important;
      margin: 0 0 .25rem;
      display: block;
      font-size: 1rem;
      line-height: 1.5rem;
    }
    & input {
      font-size: 1.25rem;
      line-height: normal;
      padding: .75rem;
      border: 1px solid #C5C5C5;
      border-radius: .25rem;
      -webkit-appearance: none;
      appearance: none;
      outline: 0;
      color: #555459;
      width: 100%;
      max-width: 100%;
      font-family: sans-serif;
      margin: 0 0 .5rem;
      font-variant-ligatures: none;
      -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
      transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
      -webkit-font-smoothing: antialiased;
      box-shadow: none;
      height: auto;
    }
    & p {
      color: #9e9ea6 !important;
      margin: 0 0 1rem;
    }
    &__footer {
      min-width: 100%;
      margin-bottom: 1rem;
      padding: .5rem 1rem;
      margin: 0 auto;
      text-align: center;
      align-self: flex-end;
      max-width: 100%;
      &__container {
        text-align: center;
        font-size: 1rem;
        & button {
          padding: 12px 32px 18px;
          font-size: 1.25rem;
          background: #2ab27b;
          color: #fff;
          -webkit-font-smoothing: antialiased;
          font-family: sans-serif;
          line-height: 1.2rem;
          font-weight: 900;
          -webkit-user-select: none;
          user-select: none;
          text-decoration: none;
          cursor: pointer;
          text-shadow: 0 1px 1px rgba(0,0,0,.1);
          border: none;
          border-radius: .25rem;
          box-shadow: none;
          position: relative;
          display: inline-block;
          vertical-align: bottom;
          text-align: center;
          white-space: nowrap;
          margin: 0;
          & span {
            position: relative;
            z-index: 3;
          }
        }
      }
    }
  }
}

